.alert {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
