.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 50px;
  border-bottom: 1px solid grey;
}

.navbar-logo {
  width: auto
}

.logo-image {
  width: 25%;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links li:first-child {
  margin-left: 0;
}

.navbar-links li a {
  color: grey;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .logo-image {
    width: 100%;
    margin-bottom: 10px;
  }

  .navbar-links {
    justify-content: space-between;
  }

  .navbar-links li {
    margin: 0;
  }
}

/* .navbar {
    background-color: white;
    height: 15vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    position: relative;
}

.navbar-logo {
    margin-right: auto;
    margin-bottom: 10px;
    max-height: 50%;
}

.navbar-links-item {
    list-style: none;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
}

.navbar-links-item li {
    margin: 0 10px;
}

.navbar-links-item li a {
    color: grey;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar-links-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-logo {
        margin-right: 0;
        margin-bottom: 10px;
    }
} */
